.appuntamentiCard {
    width: 100%;
}

.noAppointments {
    font-size: 1.15rem;
}

.list-group {
    overflow-y: auto;
    max-height: 330px;
}

.confermaCard {
    width: 100%;
    max-height: 360px;
    height: auto;
}

.mini-buttons {
    font-size: 2rem;
    color: black;
    transition: 400ms;
    cursor: pointer;
}

.mini-buttons.positive:hover {
    color: #198754;
    transition: 400ms;
}

.mini-buttons.negative:hover {
    color: #dc3545;
    transition: 400ms;
}

.mini-buttons-loading {
    font-size: 2rem;
}

.appointment-active {
    background-color: #008759 !important;
    color: white !important;
    border-radius: .25rem !important;
}