body {
    background-color: #f5f1e9;
}

.card {
    -webkit-border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    -moz-border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    width: fit-content;
}

.navbar {
    border-radius: 0 0 0.75rem 0.75rem;
}

.navbar-nav .nav-item .nav-link {
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    transition: 400ms;
}

.dropdown .nav-item.nav-link {
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    transition: 400ms;
}

.dropdown-item.active {
    color: #1e2125;
    background-color: #e9ecef;
}

.navbar-nav .nav-item .nav-link.active {
    background: #e5e5e5;
    transition: 400ms;
}

.dropdown .nav-item.nav-link.active {
    background: #e5e5e5;
    transition: 400ms;
}

.navbar-nav .nav-item .nav-link:hover {
    background: #e5e5e5;
    transition: 400ms;
}

.dropdown .nav-item.nav-link:hover {
    background: #e5e5e5;
    transition: 400ms;
}

.mobile-nav {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.mobile-nav .nav-item .nav-link {
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    background: white;
    transition: 400ms;
    color: rgba(0, 0, 0, .7);
    text-align: center;
}

.mobile-nav .nav-item .nav-link:hover {
    background: #e5e5e5;
    transition: 400ms;
}

.mobile-nav .nav-item .nav-link.active {
    background: #e5e5e5;
    transition: 400ms;
    color: black;
}

.custom-toggler {
    border: 0 !important;
}

.custom-toggler:focus {
    box-shadow: none;
}

.list-group-item {
    cursor: default;
}

.delete-appointment {
    cursor: pointer;
}

small {
    text-align: end;
}

.switch-success:checked {
    background-color: #008759;
    border-color: #008759 !important;
}

.switch-success:focus {
    box-shadow: none;
    border-color: #0000003F;
}

.form-switch .form-check-input {

}
.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb%28232, 232, 232%29'/%3e%3c/svg%3e");
}
