body {
    background-color: #F5F1E9;
}

label.error {
    margin-top: .5rem;
}

#prezzo-servizio, #currency {
    font-weight: bold;
}

.card {
    -webkit-border-radius: .75rem .75rem .75rem .75rem;
    -moz-border-radius: .75rem .75rem .75rem .75rem;
    border-radius: .75rem .75rem .75rem .75rem;
}

.captcha-terms { text-align: justify;}
a {
    color: #008759;
    text-decoration: none;
}

a:hover{
    color: #115938;
}

.love-footer{
    text-align: center;
}
.love{
    color: red;
}