body {
    background-color: #f5f1e9;
}

.card {
    -webkit-border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    -moz-border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
}

#user-img, #pwd-img {
    color: #4d4d4d;
}

#login-btn {
    width: 100%;
}

.card-text {
    font-size: larger;
}

.input-group-text{
    background: white;
    border-right: 0 !important;
}

.form-control{
    border-left: 0;
    padding-left: 0;
}
.main-container {
    min-height: 100vh;
}
.captcha-terms { text-align: justify;}
a {
    color: #008759;
    text-decoration: none;
}

a:hover{
    color: #115938;
}