.card {
    width: 100%;
}

label.error {
    margin-top: .5rem;
}

#prezzo-servizio, #currency {
    font-weight: bold;
}

.card {
    -webkit-border-radius: .75rem .75rem .75rem .75rem;
    -moz-border-radius: .75rem .75rem .75rem .75rem;
    border-radius: .75rem .75rem .75rem .75rem;
}